/* General Styles */
body {
  font-family: "Arial, sans-serif";
}

/* Header Styles */
header h1 {
  font-size: 3.5rem;
  font-weight: bold;
  font-family: "PHONK", sans-serif;
}

header p {
  font-size: 1.2rem;
}

/* Stats Section */
.stats h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.stats p {
  font-size: 1rem;
}

.stats-item {
  position: relative;
}

.stats-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #000;
}

.stats-item:last-child::after {
  display: none;
}

.stats-item h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: "Phonk";
}

.stats-item p {
  font-size: 1.2rem;
  margin-top: 0;
}

.agency-header {
  text-align: left;
  margin-left: 0; /* Ensure it's aligned to the left margin */
  font-size: 80px;/*after feedback*/
}

.design-agency {
  font-size: 3rem;
}

.paragraph-content {
  max-width: 600px; /* Adjust as needed */
  margin-left: 700px;
  margin-top: -130px;
  text-align: left;
  font-family: "Poppins", sans-serif; 
  /*font-size: 26px;after feedback*/
}

@media (max-width: 767px) {
  .stats-item::after {
    display: none;
  }
  .paragraph-content {
    max-width: auto; /* Adjust as needed */
    margin-left: auto;
    margin-top: auto;
  }
}
