

.member-card {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: #161616; /* Background color for the text area */
  padding: 10px;
 
}

.member-photo {
  width: 100%;
  padding-bottom: 100%; /* Aspect ratio 1:1 */
  background-size: cover;
  background-position: center;
  border-radius: 50px;
 
}

.crew-container {
  background-color: #161616;
  color: #fff;

}

.phal {
  font-family: 'Poppins', sans-serif;
}


/* Apply custom cursor to all elements */
